body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label, form input {
  margin: 5px 0;
}

form input[type="text"], form input[type="url"] {
  width: 290px;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button[type="submit"] {
  padding: 15px 25px;
  background-color: #007BFF;
  color: white;
  font-size: 1.2em;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  width: 290px;
  text-align: center;
}

button[type="submit"]:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

button[type="submit"]:active {
  transform: scale(1.02);
}

.nice-button {
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}

.nice-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.nice-button:active {
  transform: scale(1.02);
}

.custom-checkbox {
  font-size: 0.9em;
  margin-top: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-checkbox .checkbox-mark {
  width: 24px;
  height: 24px;
  background-color: #f9f9f9;
  border: 2px solid #007BFF;
  border-radius: 4px;
  margin-right: 10px;
  margin-left: 10px;
  position: relative;
}

.custom-checkbox input[type="checkbox"]:checked + .checkbox-mark {
  background-color: #007BFF;
}

.custom-checkbox input[type="checkbox"]:checked + .checkbox-mark:after {
  display: block;
}

form label.custom-checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%; /* Make label full width to align with other inputs */
  margin-bottom: 5px;
}


#outputContainer {
  border: 1px solid #ccc;
  padding: 10px;
  width: 310px;
  background-color: #f9f9f9;
  overflow-x: auto;
  margin-bottom: 20px;
  font-size: 1.1em;
}

code {
  display: block;
  white-space: pre-wrap;
  font-family: monospace;
}
